form {
    width: 300px;
}
label, input{
    margin: 5px 5px; 
}

#btn-submit{
    margin: 5px;
}

.playlist{
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
}
.card-playlist{
    margin: 15px;
    width: 150px;
    text-align: center;
}
.description p{
    margin: 5px;
}